body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.box {
    width: 30rem;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}

input {
    width: 95%;
    padding: 8px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 8px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

a {
    text-decoration: none;
    color: blue;
}