.head{
    color: blue;
    font-size: 6rem;
}
body {
    background-color: rgb(0, 0, 0);
}
.name{
    color: white;
    font-size: 4rem;
}
.favarite{
    color: yellow;
    font-size: 4rem;
}
.don{
    color: red;
    font-size: 4rem;
}
button{
    margin: 1rem 2rem;
    padding: 1.3rem 7rem;
    border-radius: 30px;
    cursor: pointer;
}
a{
    font-size: 3rem;
    color: cadetblue;
    text-decoration: none;
}
button:hover{
    border: solid 0.5rem white;
    background-color: rgb(0, 0, 0);
}
.btn{
    display: flex;
    justify-content: flex-end;
    
}

